@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #f9fafb;
}

body {
  display: flex;
}
header {
  width: 50vw;
  height: 100vh;
  background-image: url("/images/ferns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img[src="/images/odin-lined.png"] {
  width: clamp(2vw, 7vw, 7vw);
}
.logo {
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.575);
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 2rem, 4rem);
}
.right-side {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  gap: 1rem;
}

/*The top */
.top-area {
  font-size: large;
}
.tagline-1 {
  margin-bottom: 4rem;
}
.tagline-1,
.tagline-2 {
  margin: 2rem;
}

/*The Middle */

.card {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px grey;
  width: 100%;
  height: 25vh;
  font-size: clamp(0.5rem, 0.5rem, 1rem);
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.top-row,
.middle-row,
.bottom-row {
  display: flex;
  padding: 5px;
  margin: 1rem;
}

.names,
.contact,
.passwords {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

label {
  flex: 0 0 100px;
  margin-bottom: 1rem;
  color: grey;
  margin: 4px;
}

input {
  flex: 0 1 auto;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin: 4px;
}

#first-name,
#last-name,
#email,
#phone-number,
#password,
#confirm-password {
  display: block;
}

/*DEFAULT COLORS*/
.error > input {
  appearance: none;
  border-radius: 20px;
  border: 2px solid red;
}

input:focus {
  background-color: #456d313b;
}

::placeholder {
  color: rgba(128, 128, 128, 0.486);
}

/*The Bottom */
button {
  background-color: #596d48;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 7px;
}
.bottom {
  margin: 1rem;
}
